

.btn-primary{
   background-color:#006A50 ;
   font-size:270hug 56hug ;
   color: white;
   border: none;
   border-radius: 5px;
   padding: 17px 34px;

}


.text-center{
    text-align: center;
}
/* header */
.header{
    background-color:#C6E4D6 ;
    padding-left: ;
    border-radius: 4px;
}
/* body styles */
body{
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 4px;
}
/* banner styles */
.banner{
    
    border-top-right-radius: 24px;
    display: flex;
    justify-content:space-evenly;
    margin:80px 100px 80px 100px;
    
}

main-section{
    margin-top: 80px;
    margin-bottom: 80px;
}
.banner-content{
    max-width:622px ;
    max-height:326px ;
}
.banner-greetings{
    color: #0E0E0E;
    font-weight: 400px;
    padding-bottom: 1px;
}

.banner-title{
    font-weight:bold;
    font-size: 56px;
}

.banner-pic{
    width:474px ;
    height: 400px;

}

/* skills section styles */
.skills-container{
    display: flex;
}


.skill1{
    background-color:#bfcfea;
    text-align: left;
    padding: 30px;
    border-radius: 10px;
    
}


.skill2{
    background-color:#C6E4D6;
    text-align:left;
    padding: 30px;
    border-radius: 10px;
}


.skill3{
    background-color:#F7EBCF;
    text-align: left;
    padding: 30px;
    border-radius: 10px;
}

.skills-container h4 {
    color:#0E0E0E  ;
}

.skills-container p {
    color: #0E0E0E;
}


.b {
    color:#FFFFFF ;
    background-color:#5490F5 ;
    padding: 5px;
    border-radius: 5px;
    box-shadow: #FFFFFF;
    border-color:rgb(158, 143, 220);
}


.b1 {
    color:#FFFFFF ;
    background-color:#09A15C;
    padding: 5px;
    border-radius: 5px;
    box-shadow: #09A15C;
    border-color:#09A15C;
}

.b2 {
    color:#FFFFFF ;
    background-color:#FFC239 ;
    padding: 5px;
    border-radius: 5px;
    box-shadow: #FFFFFF;
    border-color:#FFC239;
}

.skills-container{
    justify-content: space-between;
display: flex;
padding-top: 30px;
padding-bottom: 30px;
}

.dr{
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #0E0E0E;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-color: aliceblue;
    box-shadow: 1px 6px 50px 1px;
    text-align: initial;
    background-image ;
}

.ph{
    
}